.version.index /* version checker */
{
	color: #0000E3;
	background-color: #4BE61C;
}

.html
{
	background: #FFFFFF url("../images/soft%20grey%20bars.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 957px;
	min-height: 3684px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -56px;
	padding-bottom: 5px;
	width: 0.01px;
}

#top
{
	margin-left: 467px;
	position: relative;
}

#u2146
{
	z-index: 478;
	height: 37px;
	background-color: #1B1464;
	position: fixed;
	top: 0px;
}

#u2146-bw
{
	z-index: 478;
}

#u2390-6
{
	z-index: 479;
	width: 410px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: fixed;
	top: 9px;
	left: 111px;
}

#u2390-4
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2390
{
	font-weight: bold;
	line-height: 17px;
}

#u2390-3
{
	font-size: 12px;
	color: #CBCBCB;
	line-height: 14px;
}

.js #u2390-6.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u2416
{
	z-index: 485;
	width: 94px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 6px;
	right: 110px;
}

#buttonu2403
{
	z-index: 486;
	width: 24px;
	border-color: #787878;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2383
{
	z-index: 487;
	width: 24px;
	background-color: #FFFFFF;
	border-radius: 25px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#buttonu2403:hover #u2383
{
	background-color: #29ABE2;
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2386
{
	z-index: 488;
	width: 7px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
}

#buttonu2403.ButtonSelected #u2386
{
	width: 7px;
	min-height: 0px;
	margin: 5px -10000px 0px 0px;
}

#buttonu2406
{
	z-index: 490;
	width: 24px;
	border-color: #787878;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 35px;
}

#u2407
{
	z-index: 491;
	width: 24px;
	background-color: #FFFFFF;
	border-radius: 25px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#buttonu2406:hover #u2407
{
	background-color: #29ABE2;
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2417
{
	z-index: 492;
	width: 13px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

#buttonu2406.ButtonSelected #u2417
{
	width: 13px;
	min-height: 0px;
	margin: 6px -10000px 0px 0px;
}

#buttonu2411
{
	z-index: 494;
	width: 24px;
	border-color: #787878;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#buttonu2403.ButtonSelected,#buttonu2406.ButtonSelected,#buttonu2411.ButtonSelected
{
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2412
{
	z-index: 495;
	width: 24px;
	background-color: #FFFFFF;
	border-radius: 25px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#buttonu2411:hover #u2412
{
	background-color: #29ABE2;
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu2403.ButtonSelected #u2383,#buttonu2406.ButtonSelected #u2407,#buttonu2411.ButtonSelected #u2412
{
	background-color: #FFFFFF;
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2388
{
	z-index: 496;
	width: 14px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 5px;
}

#buttonu2411.ButtonSelected #u2388
{
	width: 14px;
	min-height: 0px;
	margin: 7px -10000px 0px 0px;
}

#u2303
{
	z-index: 364;
	min-height: 430px;
	background: transparent url("../images/background.jpg") no-repeat center top;
	background-size: cover;
}

#u2303_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 957px;
	position: relative;
	left: -100px;
	padding-top: 20px;
	padding-bottom: 90px;
}

#pu2311
{
	width: 0.01px;
	left: 111px;
	position: relative;
}

#u2311
{
	z-index: 467;
	width: 132px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2310
{
	z-index: 468;
	width: 130px;
	height: 119px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #CBCBCB;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#u2147
{
	z-index: 469;
	width: 109px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 14px;
}

#u2482
{
	z-index: 541;
	width: 129px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 404px;
}

#u2131-6
{
	z-index: 408;
	width: 246px;
	min-height: 22px;
	background-color: transparent;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	left: 456px;
	margin-top: 9px;
	position: relative;
}

#u2131-2
{
	font-size: 16px;
	line-height: 19px;
	color: #1B1464;
}

#u2131-4
{
	font-size: 12px;
	line-height: 14px;
	color: #575757;
}

#u2222
{
	z-index: 414;
	width: 107px;
	height: 2px;
	background-color: #1B1464;
	left: 525px;
	margin-top: 17px;
	position: relative;
}

#u2474
{
	z-index: 521;
	width: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: 432px;
	margin-top: 42px;
	position: relative;
}

#pu2312
{
	z-index: 522;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u2312
{
	z-index: 0;
	width: 291px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #CBCBCB;
	opacity: 0.57;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=56.99999999999999)";
	filter: alpha(opacity=56.99999999999999);
	border-radius: 10px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu2132-13
{
	width: 0.01px;
	position: relative;
	padding-top: 1px;
	z-index: 2;
}

#u2132-13
{
	z-index: 523;
	width: 292px;
	min-height: 70px;
	background-color: transparent;
	line-height: 14px;
	color: #000000;
	font-size: 12px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u2132-3
{
	padding-top: 10px;
}

#u2132-7
{
	padding-top: 6px;
}

#u2132-11
{
	padding-bottom: 10px;
	padding-top: 6px;
}

#u2132,#u2132-4,#u2132-8
{
	font-weight: normal;
}

#u2132-10
{
	color: #00FF00;
}

#u2303-bw
{
	z-index: 364;
	min-height: 430px;
}

#pamphletu3215
{
	z-index: 636;
	width: 0.01px;
	height: 140px;
	position: relative;
	margin-right: -10000px;
	margin-top: 171px;
	left: 1130px;
}

#u3222
{
	z-index: 637;
	width: 28px;
	position: relative;
	margin-right: -10000px;
}

#u3223
{
	position: absolute;
	width: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 140px;
}

#u3116
{
	z-index: 639;
	width: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 10px;
	position: fixed;
	top: 207px;
	right: -1px;
}

#u3104-4
{
	z-index: 640;
	width: 139px;
	min-height: 27px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #1B1464;
	border-radius: 10px 10px 0px 0px ;
	line-height: 27px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: left;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	-webkit-transform: matrix(0,-1,1,0,170,85);
	-ms-transform: matrix(0,-1,1,0,170,85);
	transform: matrix(0,-1,1,0,170,85);
	position: fixed;
	top: 264px;
	right: 55px;
	border-width: 1px 1px 0px;
}

#u3104-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 139px;
	margin: 0px;
}

#u3104-2
{
	padding-left: 36px;
}

#u3113
{
	z-index: 644;
	width: 13px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-webkit-transform: matrix(0,-1,1,0,0,13);
	-ms-transform: matrix(0,-1,1,0,0,13);
	transform: matrix(0,-1,1,0,0,13);
	position: relative;
	margin-right: -10000px;
	margin-top: 118px;
	left: 8px;
}

#u3218
{
	position: absolute;
	width: 595px;
	background-color: #565656;
	background-color: rgba(68,68,68,0.9);
	padding-bottom: 44px;
	top: -113px;
	left: 144px;
	-pie-background: rgba(68,68,68,0.9);
}

#u3218popup
{
	z-index: 646;
}

#u3219
{
	z-index: 647;
	width: 540px;
	height: 268px;
	border-width: 2px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	border-radius: 10px;
	padding-top: 17px;
	padding-right: 7px;
	padding-bottom: 16px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u3221-4
{
	z-index: 648;
	width: 218px;
	min-height: 19px;
	background-color: transparent;
	line-height: 19px;
	color: #1B1464;
	font-size: 16px;
	text-align: left;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	position: relative;
}

#u3220-45
{
	z-index: 652;
	width: 540px;
	min-height: 221px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u3229
{
	position: absolute;
	width: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: -83px;
	left: 688px;
}

#u3230-4
{
	z-index: 698;
	width: 18px;
	min-height: 18px;
	border-width: 1px;
	border-style: solid;
	border-color: #1B1464;
	background-color: transparent;
	border-radius: 30px;
	text-align: center;
	color: #1B1464;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu2231
{
	width: 0.01px;
	margin-left: -100px;
}

#u2231
{
	z-index: 365;
	height: 220px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #CBCBCB;
	opacity: 0.52;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=52)";
	filter: alpha(opacity=52);
	border-width: 2px 0px;
}

#u2231-bw
{
	z-index: 365;
	margin-bottom: -1px;
	margin-top: -1px;
	height: 220px;
}

#u2238-15
{
	z-index: 393;
	width: 936px;
	background-color: transparent;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 111px;
}

#u2238-2
{
	font-size: 16px;
	line-height: 20px;
	color: #1B1464;
	font-weight: bold;
}

#u2238-3
{
	font-size: 16px;
	line-height: 20px;
	padding-top: 6px;
	color: #1B1464;
	font-weight: bold;
}

#u2238-7,#u2238-9
{
	font-size: 12px;
	line-height: 15px;
	padding-top: 6px;
	color: #404040;
}

#u2238-11
{
	font-size: 12px;
	line-height: 15px;
	padding-top: 6px;
	color: #404040;
	font-weight: normal;
}

#u2238-5,#u2238-13
{
	font-size: 12px;
	line-height: 15px;
	padding-top: 6px;
	color: #1B1464;
	font-weight: bold;
}

#u2319
{
	z-index: 471;
	width: 107px;
	height: 2px;
	background-color: #1B1464;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 525px;
}

#u2198-4
{
	z-index: 366;
	width: 246px;
	min-height: 22px;
	background-color: transparent;
	line-height: 19px;
	color: #1B1464;
	font-size: 16px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	margin-left: 356px;
	margin-top: 34px;
	position: relative;
}

#u2320
{
	z-index: 472;
	width: 107px;
	height: 2px;
	background-color: #1B1464;
	margin-left: 425px;
	margin-top: 12px;
	position: relative;
}

#pu2273
{
	width: 0.01px;
	margin-left: 160px;
	margin-top: 31px;
}

#u2273
{
	z-index: 454;
	width: 61px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2263
{
	z-index: 452;
	width: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 290px;
}

#u2268
{
	z-index: 415;
	width: 76px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 574px;
}

#pu2169-6
{
	width: 0.01px;
	margin-left: 84px;
	margin-top: 11px;
}

#u2169-6
{
	z-index: 424;
	width: 212px;
	min-height: 45px;
	background-color: transparent;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u2165-7
{
	z-index: 430;
	width: 212px;
	min-height: 45px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 288px;
}

#u2302-7
{
	z-index: 460;
	width: 223px;
	min-height: 45px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 576px;
}

#pu2286
{
	width: 0.01px;
	margin-left: 154px;
	margin-top: 29px;
}

#u2286
{
	z-index: 456;
	width: 72px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u2248
{
	z-index: 450;
	width: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 296px;
}

#u2294
{
	z-index: 458;
	width: 49px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 593px;
}

#pu2166-6
{
	width: 0.01px;
	margin-left: 84px;
	margin-top: 7px;
}

#u2166-6
{
	z-index: 437;
	width: 212px;
	min-height: 47px;
	background-color: transparent;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u2167-7
{
	z-index: 443;
	width: 212px;
	min-height: 44px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 288px;
}

#u2165-3,#u2302-3,#u2167-3
{
	color: #1B1464;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2165,#u2302,#u2167
{
	font-size: 24px;
	line-height: 29px;
}

#u2165-2,#u2302-2,#u2167-2
{
	line-height: 14px;
}

#u2168-7
{
	z-index: 417;
	width: 223px;
	min-height: 45px;
	background-color: transparent;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 576px;
}

#u2169-2,#u2166-2,#u2168-2
{
	font-size: 24px;
	line-height: 29px;
	color: #1B1464;
}

#u2168-5
{
	font-size: 12px;
	line-height: 14px;
}

#u2165-5,#u2302-5,#u2167-5,#u2168-3
{
	color: #404040;
}

#pu2724
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 40px;
}

#u2724
{
	z-index: 211;
	height: 824px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #CBCBCB;
	opacity: 0.52;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=52)";
	filter: alpha(opacity=52);
	border-width: 2px 0px;
}

#u2724-bw
{
	z-index: 211;
	margin-bottom: -1px;
	margin-top: -1px;
	height: 824px;
}

#u2725-4
{
	z-index: 212;
	width: 321px;
	min-height: 22px;
	background-color: transparent;
	line-height: 19px;
	color: #1B1464;
	font-size: 16px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 418px;
}

#u2726
{
	z-index: 216;
	width: 121px;
	height: 2px;
	background-color: #1B1464;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: 519px;
}

#u2842
{
	z-index: 217;
	width: 401px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 107px;
	left: 633px;
}

#u2817-4
{
	z-index: 226;
	width: 134px;
	min-height: 14px;
	background-color: #1B1464;
	border-radius: 5px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 11px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 75px;
	left: 15px;
}

#u2820-4
{
	z-index: 238;
	width: 140px;
	min-height: 14px;
	background-color: #1B1464;
	border-radius: 5px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 11px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 75px;
	left: 156px;
}

#pu2821
{
	z-index: 218;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#pu2733-7
{
	width: 0.01px;
	position: relative;
	padding-top: 1px;
	z-index: 2;
	padding-bottom: 12px;
}

#u2733-7
{
	z-index: 219;
	width: 380px;
	min-height: 76px;
	background-color: transparent;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#pu2818-4
{
	width: 0.01px;
	margin-left: 15px;
	margin-top: 28px;
}

#u2818-4
{
	z-index: 230;
	width: 112px;
	min-height: 14px;
	background-color: #1B1464;
	border-radius: 5px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 11px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u2819-4
{
	z-index: 234;
	width: 179px;
	min-height: 14px;
	background-color: #1B1464;
	border-radius: 5px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 11px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 119px;
}

#u2840
{
	z-index: 242;
	width: 401px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 282px;
	left: 124px;
}

#u2738-8
{
	z-index: 244;
	width: 400px;
	min-height: 52px;
	background-color: transparent;
	text-align: right;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u2738-2
{
	color: #404040;
	line-height: 17px;
}

#u2822-4
{
	z-index: 252;
	width: 204px;
	min-height: 14px;
	background-color: #1B1464;
	border-radius: 5px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 11px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 49px;
}

#u2823-4
{
	z-index: 256;
	width: 44px;
	min-height: 14px;
	background-color: #1B1464;
	border-radius: 5px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 11px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 342px;
}

#u2825-4
{
	z-index: 264;
	width: 73px;
	min-height: 14px;
	background-color: #1B1464;
	border-radius: 5px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 11px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 261px;
}

#pu2827
{
	z-index: 243;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#pu2824-4
{
	width: 0.01px;
	position: relative;
	left: 126px;
	padding-top: 90px;
	z-index: 2;
	padding-bottom: 12px;
}

#u2824-4
{
	z-index: 260;
	width: 117px;
	min-height: 14px;
	background-color: #1B1464;
	border-radius: 5px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 11px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u2826-4
{
	z-index: 268;
	width: 134px;
	min-height: 14px;
	background-color: #1B1464;
	border-radius: 5px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 11px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 125px;
}

#u2841
{
	z-index: 272;
	width: 381px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 636px;
	left: 145px;
}

#u2756-8
{
	z-index: 274;
	width: 380px;
	min-height: 46px;
	background-color: transparent;
	text-align: right;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u2738-4,#u2756-4
{
	padding-right: 18px;
	padding-bottom: 3px;
	padding-top: 16px;
	color: #1B1464;
	font-weight: bold;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2756-2
{
	font-size: 12px;
	color: #3F3F3F;
	line-height: 14px;
}

#u2738-6,#u2756-6
{
	font-size: 12px;
	line-height: 14px;
	padding-right: 18px;
	padding-bottom: 12px;
	color: #404040;
}

#u2834-4
{
	z-index: 282;
	width: 229px;
	min-height: 14px;
	background-color: #1B1464;
	border-radius: 5px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 11px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 136px;
}

#pu2838
{
	z-index: 273;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u2838
{
	z-index: 0;
	width: 379px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	opacity: 0.35;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
	filter: alpha(opacity=35);
	border-radius: 5px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#ppu2836-4
{
	width: 0.01px;
	position: relative;
	left: 88px;
	padding-top: 89px;
	z-index: 2;
	padding-bottom: 12px;
}

#pu2836-4
{
	width: 0.01px;
}

#u2836-4
{
	z-index: 290;
	width: 140px;
	min-height: 14px;
	background-color: #1B1464;
	border-radius: 5px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 11px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u2835-4
{
	z-index: 286;
	width: 129px;
	min-height: 14px;
	background-color: #1B1464;
	border-radius: 5px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 11px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 148px;
}

#u2837-4
{
	z-index: 294;
	width: 229px;
	min-height: 14px;
	background-color: #1B1464;
	border-radius: 5px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 11px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 48px;
	margin-top: 7px;
	position: relative;
}

#u2843
{
	z-index: 298;
	width: 401px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 444px;
	left: 633px;
}

#u2829-4
{
	z-index: 307;
	width: 204px;
	min-height: 14px;
	background-color: #1B1464;
	border-radius: 5px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 11px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 61px;
	left: 15px;
}

#u2831-4
{
	z-index: 315;
	width: 116px;
	min-height: 14px;
	background-color: #1B1464;
	border-radius: 5px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 11px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 61px;
	left: 227px;
}

#pu2828
{
	z-index: 299;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u2821,#u2827,#u2828
{
	z-index: 0;
	width: 399px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	opacity: 0.35;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
	filter: alpha(opacity=35);
	border-radius: 5px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu2750-7
{
	width: 0.01px;
	position: relative;
	left: 1px;
	padding-top: 1px;
	z-index: 2;
	padding-bottom: 12px;
}

#u2750-7
{
	z-index: 300;
	width: 399px;
	min-height: 62px;
	background-color: transparent;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u2733-3,#u2750-3
{
	padding-left: 18px;
	padding-bottom: 3px;
	padding-top: 16px;
	color: #1B1464;
	font-weight: bold;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2390-2,#u2733,#u2738,#u2756,#u2750
{
	line-height: 17px;
}

#u2733-5,#u2750-5
{
	font-size: 12px;
	line-height: 14px;
	padding-left: 18px;
	padding-bottom: 12px;
	color: #404040;
}

#pu2833-4
{
	width: 0.01px;
	margin-left: 14px;
	margin-top: 28px;
}

#u2833-4
{
	z-index: 323;
	width: 101px;
	min-height: 14px;
	background-color: #1B1464;
	border-radius: 5px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 11px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u2832-4
{
	z-index: 319;
	width: 180px;
	min-height: 14px;
	background-color: #1B1464;
	border-radius: 5px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 11px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 109px;
}

#u2830-4
{
	z-index: 311;
	width: 250px;
	min-height: 14px;
	background-color: #1B1464;
	border-radius: 5px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 11px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 14px;
	margin-top: 7px;
	position: relative;
}

#u2847
{
	z-index: 327;
	width: 4px;
	height: 533px;
	background-color: #3F3F3F;
	position: relative;
	margin-right: -10000px;
	margin-top: 178px;
	left: 577px;
}

#u2848
{
	z-index: 328;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #3F3F3F;
	background-color: #1B1464;
	border-radius: 70px;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 148px;
	left: 549px;
}

#u2868
{
	z-index: 353;
	width: 40px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 9px;
}

#u2852-6
{
	z-index: 329;
	width: 225px;
	min-height: 20px;
	background-color: transparent;
	line-height: 18px;
	color: #1B1464;
	text-align: right;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 160px;
	left: 285px;
}

#u2853-6
{
	z-index: 335;
	width: 215px;
	min-height: 20px;
	background-color: transparent;
	line-height: 18px;
	color: #1B1464;
	text-align: left;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 327px;
	left: 648px;
}

#u2859-6
{
	z-index: 341;
	width: 238px;
	min-height: 20px;
	background-color: transparent;
	line-height: 18px;
	color: #1B1464;
	text-align: left;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 693px;
	left: 648px;
}

#u2860-6
{
	z-index: 347;
	width: 224px;
	min-height: 20px;
	background-color: transparent;
	line-height: 18px;
	color: #1B1464;
	text-align: right;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 502px;
	left: 286px;
}

#u2874
{
	z-index: 355;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #3F3F3F;
	background-color: #1B1464;
	border-radius: 70px;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 314px;
	left: 548px;
}

#u2877
{
	z-index: 358;
	width: 33px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 13px;
}

#u2875
{
	z-index: 356;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #3F3F3F;
	background-color: #1B1464;
	border-radius: 70px;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 490px;
	left: 548px;
}

#u2883
{
	z-index: 360;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 14px;
}

#u2876
{
	z-index: 357;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #3F3F3F;
	background-color: #1B1464;
	border-radius: 70px;
	padding-bottom: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 681px;
	left: 548px;
}

#u2889
{
	z-index: 362;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 14px;
}

#u2934
{
	z-index: 210;
	height: 156px;
	border-style: solid;
	border-color: #7F7F7F;
	border-width: 0px 0px 1px;
	background: transparent url("../images/chart-discussion-large.jpg") no-repeat center center;
	background-size: cover;
}

#u2934-bw
{
	z-index: 210;
	height: 156px;
}

#u2897-4
{
	z-index: 157;
	width: 246px;
	min-height: 22px;
	background-color: transparent;
	line-height: 19px;
	color: #1B1464;
	font-size: 16px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	margin-left: 355px;
	margin-top: 38px;
	position: relative;
}

#u2898
{
	z-index: 161;
	width: 107px;
	height: 2px;
	background-color: #1B1464;
	margin-left: 425px;
	margin-top: 12px;
	position: relative;
}

#pu2901
{
	width: 0.01px;
	margin-left: 190px;
	margin-top: 14px;
}

#u2901
{
	z-index: 162;
	width: 98px;
	border-width: 2px;
	border-style: solid;
	border-color: #1B1464;
	background-color: transparent;
	border-radius: 100px;
	padding-bottom: 15px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u2912
{
	z-index: 166;
	width: 54px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 22px;
}

#u2905
{
	z-index: 163;
	width: 98px;
	border-width: 2px;
	border-style: solid;
	border-color: #1B1464;
	background-color: transparent;
	border-radius: 100px;
	padding-bottom: 14px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 477px;
}

#u2906
{
	z-index: 164;
	width: 66px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 16px;
}

#ppu2928-17
{
	width: 0.01px;
	margin-left: 70px;
	margin-top: 18px;
}

#pu2928-17
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 478px;
}

#u2928-17
{
	z-index: 189;
	width: 340px;
	min-height: 220px;
	background-color: transparent;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u2928-5
{
	font-size: 14px;
	padding-right: 16px;
	padding-left: 16px;
	color: #404040;
}

#u3126
{
	z-index: 566;
	width: 173px;
	height: 2px;
	background-color: #1B1464;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: 83px;
}

#u2918-17
{
	z-index: 168;
	width: 350px;
	min-height: 220px;
	background-color: transparent;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u2928-2,#u2918-2
{
	padding-right: 16px;
	padding-left: 16px;
	padding-top: 12px;
	color: #1B1464;
	font-weight: bold;
}

#u2928-4,#u2918-4
{
	padding-right: 16px;
	padding-left: 16px;
	padding-bottom: 3px;
	color: #404040;
	font-weight: bold;
}

#u2918-5
{
	padding-right: 16px;
	padding-left: 16px;
	color: #404040;
}

#u2928-7,#u2928-9,#u2928-10,#u2918-7,#u2918-9
{
	font-size: 12px;
	line-height: 14px;
	padding-right: 16px;
	padding-left: 16px;
	color: #404040;
}

#u2928-11,#u2918-10,#u2918-11
{
	font-size: 12px;
	line-height: 14px;
	padding-right: 16px;
	padding-left: 16px;
}

#u2928-13,#u2928-15,#u2918-13,#u2918-15
{
	font-size: 12px;
	line-height: 14px;
	padding-right: 16px;
	padding-left: 16px;
	color: #1B1464;
	font-weight: bold;
}

#u3127
{
	z-index: 567;
	width: 173px;
	height: 2px;
	background-color: #1B1464;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: 83px;
}

#pu2921-4
{
	width: 0.01px;
	margin-left: 150px;
	margin-top: 27px;
}

#u2921-4
{
	z-index: 185;
	width: 177px;
	min-height: 40px;
	border-width: 2px;
	border-style: solid;
	border-color: #1B1464;
	background-color: transparent;
	border-radius: 5px;
	line-height: 39px;
	color: #1B1464;
	font-size: 13px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u2929-4
{
	z-index: 206;
	width: 177px;
	min-height: 40px;
	border-width: 2px;
	border-style: solid;
	border-color: #1B1464;
	background-color: transparent;
	border-radius: 5px;
	line-height: 39px;
	color: #1B1464;
	font-size: 13px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 477px;
}

#u2921-4:hover,#u2929-4:hover
{
	background-color: #1B1464;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 177px;
	margin: -1px -10000px -1px 0px;
}

#pu2303,#pu2937
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 38px;
}

#u2937
{
	z-index: 28;
	height: 543px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #CBCBCB;
	opacity: 0.52;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=52)";
	filter: alpha(opacity=52);
	border-width: 2px 0px;
}

#u2937-bw
{
	z-index: 28;
	margin-bottom: -1px;
	margin-top: -1px;
	height: 543px;
}

#u2938-4
{
	z-index: 29;
	width: 246px;
	min-height: 22px;
	background-color: transparent;
	line-height: 19px;
	color: #1B1464;
	font-size: 16px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 456px;
}

#u2939
{
	z-index: 33;
	width: 107px;
	height: 2px;
	background-color: #1B1464;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: 525px;
}

#u2947
{
	z-index: 34;
	width: 188px;
	border-width: 2px;
	border-style: solid;
	border-color: #1B1464;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
	left: 169px;
}

#u2969
{
	z-index: 46;
	width: 72px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 58px;
	position: relative;
}

#u2966
{
	z-index: 47;
	width: 68px;
	border-width: 2px;
	border-style: solid;
	border-color: #1B1464;
	background-color: transparent;
	border-radius: 70px;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
}

#u2967-4
{
	z-index: 48;
	width: 61px;
	min-height: 35px;
	background-color: transparent;
	line-height: 36px;
	color: #1B1464;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 4px;
}

#u2968-8
{
	z-index: 38;
	width: 190px;
	min-height: 58px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	left: -1px;
	margin-top: 20px;
	position: relative;
}

#u2960
{
	z-index: 35;
	width: 188px;
	border-width: 2px;
	border-style: solid;
	border-color: #1B1464;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
	left: 379px;
}

#u2947_position_content,#u2960_position_content
{
	padding-top: 19px;
	padding-bottom: 19px;
}

#u2970
{
	z-index: 52;
	width: 72px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 59px;
	position: relative;
}

#u2971
{
	z-index: 53;
	width: 68px;
	height: 68px;
	border-width: 2px;
	border-style: solid;
	border-color: #1B1464;
	background-color: transparent;
	border-radius: 70px;
	position: relative;
	margin-right: -10000px;
}

#u3008-8
{
	z-index: 69;
	width: 190px;
	min-height: 58px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	left: -1px;
	margin-top: 20px;
	position: relative;
}

#u2961
{
	z-index: 36;
	width: 188px;
	border-width: 2px;
	border-style: solid;
	border-color: #1B1464;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 106px;
	left: 588px;
}

#u2961_position_content
{
	padding-top: 16px;
	padding-bottom: 22px;
}

#u2974
{
	z-index: 54;
	width: 72px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 59px;
	position: relative;
}

#u2975
{
	z-index: 55;
	width: 68px;
	height: 68px;
	border-width: 2px;
	border-style: solid;
	border-color: #1B1464;
	background-color: transparent;
	border-radius: 70px;
	position: relative;
	margin-right: -10000px;
}

#u3015-8
{
	z-index: 77;
	width: 190px;
	min-height: 55px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	left: -1px;
	margin-top: 21px;
	position: relative;
}

#u2968-4,#u3015-4
{
	padding-bottom: 3px;
	color: #404040;
}

#u2962
{
	z-index: 37;
	width: 188px;
	border-width: 2px;
	border-style: solid;
	border-color: #1B1464;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
	left: 798px;
}

#u2962_position_content
{
	padding-top: 18px;
	padding-bottom: 26px;
}

#u2976
{
	z-index: 56;
	width: 72px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 58px;
	position: relative;
}

#u2977
{
	z-index: 57;
	width: 68px;
	height: 68px;
	border-width: 2px;
	border-style: solid;
	border-color: #1B1464;
	background-color: transparent;
	border-radius: 70px;
	position: relative;
	margin-right: -10000px;
}

#u3016-8
{
	z-index: 85;
	width: 189px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	left: -1px;
	margin-top: 21px;
	position: relative;
}

#u2980
{
	z-index: 58;
	width: 188px;
	border-width: 2px;
	border-style: solid;
	border-color: #1B1464;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 315px;
	left: 169px;
}

#u2980_position_content
{
	padding-top: 18px;
	padding-bottom: 21px;
}

#u2981
{
	z-index: 59;
	width: 72px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 59px;
	position: relative;
}

#u2982
{
	z-index: 60;
	width: 68px;
	height: 68px;
	border-width: 2px;
	border-style: solid;
	border-color: #1B1464;
	background-color: transparent;
	border-radius: 70px;
	position: relative;
	margin-right: -10000px;
}

#u3017-8
{
	z-index: 93;
	width: 189px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-top: 25px;
	position: relative;
}

#u3008-4,#u3016-4,#u3017-4
{
	padding-bottom: 3px;
	color: #404040;
	font-weight: normal;
}

#u2968-2,#u3008-2,#u3008-6,#u3015-2,#u3015-6,#u3016-2,#u3016-6,#u3017-2,#u3017-6
{
	padding-bottom: 3px;
	color: #1B1464;
	font-weight: bold;
}

#u2984
{
	z-index: 61;
	width: 37px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 141px;
	left: 666px;
}

#u2990
{
	z-index: 63;
	width: 43px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 147px;
	left: 873px;
}

#u2995
{
	z-index: 65;
	width: 46px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 144px;
	left: 453px;
}

#u3000
{
	z-index: 67;
	width: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 350px;
	left: 245px;
}

#u3023-14
{
	z-index: 101;
	width: 190px;
	min-height: 190px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 106px;
	left: 380px;
}

#u3026-15
{
	z-index: 115;
	width: 190px;
	min-height: 190px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 106px;
	left: 170px;
}

#u3027-8
{
	z-index: 130;
	width: 190px;
	min-height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 107px;
	left: 589px;
}

#u3027-8:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #1B1464;
	background-color: #CBCBCB;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 186px;
	width: 188px;
	margin: 106px -10001px -1px -1px;
}

#u3033-8
{
	z-index: 138;
	width: 190px;
	min-height: 190px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 106px;
	left: 799px;
}

#u3023-14:hover,#u3026-15:hover,#u3033-8:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #1B1464;
	background-color: #CBCBCB;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 188px;
	width: 188px;
	margin: 105px -10001px -1px -1px;
}

#u3026,#u3026-2,#u3033
{
	color: #1B1464;
}

#u3023,#u3023-2,#u3023-4,#u3023-6,#u3023-8,#u3023-10,#u3023-12,#u3026-3,#u3026-5,#u3026-7,#u3026-9,#u3026-11,#u3026-13,#u3027,#u3027-2,#u3033-2
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#u3027-3,#u3027-4,#u3027-6,#u3033-3,#u3033-4,#u3033-6
{
	padding-right: 6px;
	padding-left: 6px;
	visibility: hidden;/* 100% transparent text is hidden */
}

#u3034-7
{
	z-index: 146;
	width: 190px;
	min-height: 189px;
	background-color: transparent;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 316px;
	left: 170px;
}

#u3034-7:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #1B1464;
	background-color: #CBCBCB;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 187px;
	width: 188px;
	margin: 315px -10001px -1px -1px;
}

#u3023-14:hover p,#u3026-15:hover p,#u3027-8:hover p,#u3033-8:hover p,#u3034-7:hover p
{
	color: #1B1464;
	visibility: inherit;
	padding-left: 6px;
	padding-right: 6px;
}

#u3034,#u3034-2
{
	font-size: 9px;
	text-align: center;
	line-height: 11px;
	visibility: hidden;/* 100% transparent text is hidden */
}

#u3034-4
{
	font-size: 12px;
	text-align: center;
	line-height: 14px;
	visibility: hidden;/* 100% transparent text is hidden */
}

#u3034-5
{
	font-size: 12px;
	line-height: 14px;
	visibility: hidden;/* 100% transparent text is hidden */
}

#u3035-4
{
	z-index: 153;
	width: 231px;
	min-height: 20px;
	background-color: transparent;
	line-height: 19px;
	color: #1B1464;
	font-size: 16px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 400px;
	left: 413px;
}

#u3129
{
	z-index: 568;
	width: 248px;
	height: 39px;
	margin-left: 353px;
	margin-top: 1px;
	position: relative;
}

.ie #u3129
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u3063-4
{
	z-index: 2;
	width: 246px;
	min-height: 22px;
	background-color: transparent;
	line-height: 19px;
	color: #1B1464;
	font-size: 16px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	margin-left: 355px;
	margin-top: 1px;
	position: relative;
}

#u3064
{
	z-index: 6;
	width: 107px;
	height: 2px;
	background-color: #1B1464;
	margin-left: 425px;
	margin-top: 11px;
	position: relative;
}

#pu3072
{
	width: 0.01px;
	margin-left: 185px;
	margin-top: 32px;
}

#u3072
{
	z-index: 9;
	width: 98px;
	height: 98px;
	border-width: 2px;
	border-style: solid;
	border-color: #1B1464;
	border-radius: 100px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	background: transparent url("../images/ukraine.jpg") no-repeat center center;
}

#u3067
{
	z-index: 7;
	width: 98px;
	height: 98px;
	border-width: 2px;
	border-style: solid;
	border-color: #1B1464;
	border-radius: 100px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 243px;
	background: transparent url("../images/300px-flag_of_the_united_kingdomsvg-ieu3067-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/300px-flag_of_the_united_kingdomsvg.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u3069
{
	z-index: 8;
	width: 98px;
	height: 98px;
	border-width: 2px;
	border-style: solid;
	border-color: #1B1464;
	border-radius: 100px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 486px;
	background: transparent url("../images/russia-ieu3069-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/russia.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#pu3097-6
{
	width: 0.01px;
	margin-left: 176px;
	margin-top: 17px;
}

#u3097-6
{
	z-index: 10;
	width: 121px;
	min-height: 29px;
	background-color: transparent;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u3099-6
{
	z-index: 16;
	width: 159px;
	min-height: 29px;
	background-color: transparent;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 223px;
}

#u3100-6
{
	z-index: 22;
	width: 159px;
	min-height: 29px;
	background-color: transparent;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 466px;
}

#u2968-6,#u3097-2,#u3099-2,#u3100-2
{
	color: #1B1464;
	font-weight: bold;
}

#u2169-4,#u2166-4,#u2733-2,#u2738-3,#u2756-3,#u2750-2,#u3097-4,#u3099-4,#u3100-4
{
	font-size: 12px;
	line-height: 14px;
	color: #404040;
}

#pu2220
{
	width: 0.01px;
	padding-bottom: 27px;
	margin-left: 12px;
	margin-top: 55px;
}

#u2220
{
	z-index: 370;
	width: 938px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#pu2206
{
	z-index: 371;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u2206
{
	z-index: 0;
	width: 934px;
	border-width: 2px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #CBCBCB;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu2207-18
{
	width: 0.01px;
	position: relative;
	left: 13px;
	padding-top: 1px;
	z-index: 2;
	padding-bottom: 1px;
}

#u2207-18
{
	z-index: 372;
	width: 466px;
	min-height: 291px;
	background-color: transparent;
	color: #404040;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u2207-2
{
	font-size: 18px;
	line-height: 22px;
	padding-bottom: 6px;
	padding-top: 16px;
	font-weight: bold;
}

#u2207-4,#u2207-6,#u2207-8,#u2207-9,#u2207-11,#u2207-12,#u2207-14,#u2207-16
{
	font-size: 12px;
	line-height: 14px;
	padding-top: 6px;
}

#u2214
{
	z-index: 390;
	width: 436px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 488px;
}

#pamphletu3168
{
	z-index: 569;
	width: 0.01px;
	height: 36px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 344px;
	left: 712px;
}

#u3171
{
	z-index: 570;
	width: 213px;
	position: relative;
	margin-right: -10000px;
}

#u3174
{
	position: absolute;
	width: 213px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 1px;
}

#buttonu3191
{
	z-index: 572;
	width: 213px;
	border-color: #787878;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#buttonu3191.ButtonSelected
{
	width: 213px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2718
{
	z-index: 573;
	width: 212px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2454
{
	z-index: 578;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u2452-4
{
	z-index: 574;
	width: 177px;
	min-height: 36px;
	background-color: transparent;
	line-height: 35px;
	color: #FFFFFF;
	font-size: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 35px;
}

#u2452-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 177px;
	margin: 0px -10000px 0px 0px;
}

#u3175
{
	position: absolute;
	width: 595px;
	background-color: #565656;
	background-color: rgba(68,68,68,0.9);
	padding-bottom: 44px;
	top: -284px;
	left: 450px;
	-pie-background: rgba(68,68,68,0.9);
}

#u3175popup
{
	z-index: 580;
}

#u3178
{
	z-index: 581;
	width: 540px;
	height: 268px;
	border-width: 2px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	border-radius: 10px;
	padding-top: 17px;
	padding-right: 7px;
	padding-bottom: 16px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u3190-4
{
	z-index: 582;
	width: 218px;
	min-height: 19px;
	background-color: transparent;
	line-height: 19px;
	color: #1B1464;
	font-size: 16px;
	text-align: left;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	position: relative;
}

#u3197-45
{
	z-index: 586;
	width: 540px;
	min-height: 221px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u3220-2,#u3197-2
{
	padding-left: 16px;
	padding-bottom: 3px;
	padding-top: 12px;
	color: #1B1464;
	font-weight: bold;
}

#u3221-2,#u3220-6,#u3220-7,#u3220-18,#u3190-2,#u3197-6,#u3197-7,#u3197-18
{
	padding-left: 16px;
}

#u3220-9,#u3220-20,#u3197-9,#u3197-20
{
	padding-left: 16px;
	padding-bottom: 3px;
	color: #1B1464;
	font-weight: bold;
}

#u3220-39,#u3197-39
{
	padding-left: 16px;
	padding-top: 2px;
	color: #1B1464;
	font-weight: bold;
}

#u3220-13,#u3220-17,#u3220-24,#u3220-28,#u3220-32,#u3220-36,#u3220-37,#u3220-43,#u3197-13,#u3197-17,#u3197-24,#u3197-28,#u3197-32,#u3197-36,#u3197-37,#u3197-43
{
	padding-left: 16px;
	padding-top: 2px;
}

#u3169
{
	position: absolute;
	width: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: -255px;
	left: 994px;
}

#u3229:active,#u3169:active
{
	background-color: #6B6B6B;
	width: 20px;
	min-height: 0px;
	margin: 0px;
}

#u3170-4
{
	z-index: 632;
	width: 18px;
	min-height: 18px;
	border-width: 1px;
	border-style: solid;
	border-color: #1B1464;
	background-color: transparent;
	border-radius: 30px;
	text-align: center;
	color: #1B1464;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u3230-4:hover,#u3170-4:hover
{
	background-color: #1B1464;
	border-radius: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 18px;
	margin: 0px -10000px 0px 0px;
}

#u3230-4:hover p,#u2921-4:hover p,#u2929-4:hover p,#u3170-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2221
{
	z-index: 392;
	min-height: 62px;
	background-color: #1B1464;
}

#u2221_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 957px;
	position: relative;
	left: -100px;
	margin-bottom: -62px;
}

#u2440
{
	z-index: 499;
	width: 218px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 112px;
}

#u2333
{
	z-index: 500;
	width: 21px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u2439-6
{
	z-index: 502;
	width: 174px;
	min-height: 36px;
	background-color: transparent;
	line-height: 18px;
	color: #FFFFFF;
	font-size: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 44px;
}

#u2439-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 174px;
	margin: 0px -10000px 0px 0px;
}

#u2438
{
	z-index: 498;
	width: 1px;
	height: 62px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 340px;
}

#u2327
{
	z-index: 473;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 354px;
}

#pu2441-5
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 12px;
	margin-left: 395px;
}

#u2441-5
{
	z-index: 508;
	width: 174px;
	min-height: 18px;
	background-color: transparent;
	line-height: 18px;
	color: #FFFFFF;
	font-size: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 1px;
	position: relative;
}

#u2441-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 174px;
	margin: 0px 0px 0px 1px;
}

#u2475-5
{
	z-index: 536;
	width: 174px;
	min-height: 15px;
	background-color: transparent;
	line-height: 18px;
	color: #FFFFFF;
	font-size: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-top: 1px;
	position: relative;
}

#u2475-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 174px;
	margin: 1px 0px 0px;
}

#u3104-4:hover p,#u2452-4:hover p,#u2439-6:hover p,#u2441-5:hover p,#u2441-5:hover a,#u2441-5:hover span,#u2475-5:hover p,#u2475-5:hover a,#u2475-5:hover span
{
	color: #29ABE2;
	visibility: inherit;
}

#u2441,#u2475
{
	color: #FFFFFF;
}

#u2352
{
	z-index: 477;
	width: 1px;
	height: 64px;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 579px;
}

#u2338
{
	z-index: 475;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 590px;
}

#u2442-6
{
	z-index: 513;
	width: 177px;
	min-height: 36px;
	background-color: transparent;
	line-height: 18px;
	color: #FFFFFF;
	font-size: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 625px;
}

#u2449
{
	z-index: 519;
	width: 1px;
	height: 64px;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 813px;
}

#u2221-bw
{
	z-index: 392;
	min-height: 62px;
	margin-top: -77px;
}

#pu3054-8
{
	width: 0.01px;
	margin-left: 9px;
	margin-top: 1px;
}

#u3054-8
{
	z-index: 543;
	width: 223px;
	min-height: 42px;
	background-color: transparent;
	line-height: 14px;
	color: #404040;
	font-size: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u3056-8
{
	z-index: 558;
	width: 235px;
	min-height: 42px;
	background-color: transparent;
	line-height: 14px;
	color: #404040;
	font-size: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 245px;
}

#u2132-5,#u3054,#u3054-4,#u3056,#u3056-4
{
	font-weight: bold;
}

#u3055-7
{
	z-index: 551;
	width: 342px;
	min-height: 42px;
	background-color: transparent;
	line-height: 14px;
	color: #404040;
	font-size: 12px;
	text-align: right;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 596px;
}

body
{
	position: relative;
	min-width: 957px;
	padding-top: 37px;
}

#page .verticalspacer
{
	clear: both;
}

